*{
  box-sizing: content-box;
}


div{
  
  font-family:"Times New Roman";
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

.yellow{
  background-color: #FFD700;
}
.gray{
  background-color: #202020;
  color: white;
}
